.admin-rwd-table {
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.admin-rwd-table tr:first-child {
    border-top: none;
    background-color: #7c4654;
    color: #fff;
}

.admin-rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

.admin-rwd-table tr:hover td {
    background-color: #e5b0bd !important;

}

.admin-rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
}

.admin-rwd-table th {
    display: none;
}

.admin-rwd-table td {
    display: block;
}

.admin-rwd-table td:first-child {
    margin-top: .5em;
}

.admin-rwd-table td:last-child {
    margin-bottom: .5em;
}

.admin-rwd-table td:before {
    content: attr(data-th) " ";

    width: 120px;

    color: #000;
}

.admin-card-bg {
    background-color: rgba(70, 11, 47, .1490196078) !important;
    border: 0px;
    text-align: center !important;
}

.admin-dash-icon {
    font-size: var(--temp-space-800) !important;
    color: var(--temp-black);
    margin-bottom: var(--temp-space-200);
}

.box-2-bg {
    background-color: rgba(227, 100, 20, .1490196078) !important;
    color: var(--temp-white) !important;
    text-align: center !important;
    border: 0px;
}

.box-3-bg {
    background-color: rgba(154, 3, 30, .1490196078) !important;
    color: var(--temp-white) !important;
    text-align: center !important;
    border: 0px;
}

.box-4-bg {
    background-color: rgba(251, 139, 36, .1490196078) !important;
    color: var(--temp-white) !important;
    text-align: center !important;
}

.admin-card-bg .card-subtitle {
    color: var(--temp-black) !important;
    font-size: var(--temp-space-500) !important;
}

.admin-rwd-table th,
.admin-rwd-table td {
    text-align: left;
}

.admin-rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

.admin-rwd-table tr {
    border-color: #bfbfbf;
}

.admin-rwd-table th,
.admin-rwd-table td {
    padding: .5em 1em;
}

.dbcard-adminnew-puja-box-1 {
    border: 2px solid #17a2b8;
    border-radius: 10px;
    background-color: #17a2b8 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.dbcard-admin-accept-box-2 {
    border: 2px solid #28a745;
    border-radius: 10px;
    background-color: #28a745 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.dbcard-admin-accept-box-4 {
    border: 2px solid #B6CEB4;
    border-radius: 10px;
    background-color: #96A78D !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}
.dbcard-admin-accept-box-5 {
    border: 2px solid #D6D85D;
    border-radius: 10px;
    background-color: #D6D85D !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}
.dbcard-admin-accept-box-6 {
    border: 2px solid #A3DC9A;
    border-radius: 10px;
    background-color: #8AA624 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}
.dbcard-admin-accept-box-7 {
    border: 2px solid #56DFCF;
    border-radius: 10px;
    background-color: #0ABAB5 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}
.dbcard-admin-accept-box-8 {
    border: 2px solid #FF8282;
    border-radius: 10px;
    background-color: #FF6363 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}
.dbcard-admin-accept-box-9 {
    border: 2px solid #C1BAA1;
    border-radius: 10px;
    background-color: #A59D84 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}
.dbcard-admin-4 {
    border: 2px solid #ffc107;
    border-radius: 10px;
    background-color: #ffc107 !important;
    color: #fff !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.ad-save-bg {
    background-color: #b6dfe6;
}

.admin-heading h1 {
    color: #343a40 !important;
}

@media screen and (max-width: 601px) {
    .admin-rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .admin-rwd-table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }

    .admin-rwd-table td:before {
        display: none;
    }

    .admin-rwd-table th,
    .admin-rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .admin-rwd-table th:first-child,
    .admin-rwd-table td:first-child {
        padding-left: 0;
    }

    .admin-rwd-table th:last-child,
    .admin-rwd-table td:last-child {
        padding-right: 0;
    }

    .admin-rwd-table th,
    .admin-rwd-table td {
        padding: 1em !important;
        font-size: var(--temp-space-300);
    }
}