.temp-card-bg {
    /* background-color: var(--temp-org) !important; */
    color: var(--temp-white) !important;
    text-align: center !important;
}

.dbcard-box-1 {
    border: 2px solid #e7d0dd;
    border-radius: 10px;
    background-color: #FFEDFA !important;
    color: #BE5985 !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.dbcard-box-2 {
    border: 2px solid #E1EACD;
    border-radius: 10px;
    background-color: #EFF3EA !important;
    color: #727D73 !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.dbcard-box-3 {
    border: 2px solid #e9d6cd;
    border-radius: 10px;
    background-color: #fff2ec !important;
    color: #9a705b !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.dbcard-box-4 {
    border: 2px solid #cae1e7;
    border-radius: 10px;
    background-color: #ecfbff !important;
    color: #397e91 !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
    margin-bottom: var(--temp-space-200) !important;
}

.dbcard-box-5 {
    border: 2px solid #D1D8BE;
    border-radius: 10px;
    background-color: #EEEFE0 !important;
    color: #447d68 !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.totaltemp-bg {
    background-color: #D1D8BE !important;
}


.dbcard-box-6 {
    border: 2px solid #f9d2ee;
    border-radius: 10px;
    background-color: #FFEDFA !important;
    color: #BE5985 !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.totalfev-bg {
    background-color: #FFB8E0 !important;
}

.dbcard-box-7 {
    border: 2px solid #DDEB9D;
    border-radius: 10px;
    background-color: #FFFDF6 !important;
    color: #A0C878 !important;
    box-shadow: 0px 6px 16px 2px rgba(0, 0, 0, 0.05) !important;
}

.total-dev-bg {
    background-color: #DDF6D2 !important;
}

.user-span {
    font-weight: 400 !important;
    font-size: var(--temp-space-250) !important;
}

.user-sub-title {
    font-weight: 500 !important;
    font-size: var(--temp-space-350);
}

.user-sub-title-data {
    font-weight: 500 !important;
    font-size: var(--temp-space-700);
    margin-top: var(--temp-space-300) !important;
}

.temp-card-bg .card-subtitle {
    color: var(--temp-white) !important;
    font-size: var(--temp-space-500) !important;
}

.temp-dash-icon {
    font-size: var(--temp-space-800) !important;
    color: var(--temp-white);
    margin-bottom: var(--temp-space-200);
}

/* upcomping css */
.sd-dashboard-right-panel .sd-side-heading {
    font-size: 21px;
    padding: 0 0 15px;
    border-bottom: 1px solid #cbcbcb;
}

.sd-upcoming-events {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 8px 8px 36px 8px;
}

.sd-border-no {
    border: none !important;
}

.content-box h1 {
    font-size: var(--temp-space-500) !important;
    color: var(--temp-org);
    text-align: left;
    font-weight: 500;
    padding-bottom: var(--temp-space-200);
}

.sd-side-heading h1 {
    font-size: 34px !important;
    color: var(--temp-org);
    padding: 5px 0 30px;
    font-weight: 400;
}

.fw700 {
    font-weight: 500 !important;
    color: var(--temp-org);
    font-size: var(--temp-space-400);

}

.fw700h1 {
    font-weight: 500 !important;
    color: var(--temp-org);
    font-size: var(--temp-space-500);


}




.fw500 {
    font-weight: 500;
    font-size: var(--temp-space-400) !important;
}

/* Upcoming css */

.sd-news-updates {
    background: #ededed;
    border-radius: 4px;
    padding: 15px 20px;
    margin-top: 16px;
}

.sd-dashboard-right-panel .sd-side-heading {

    font-weight: 500 !important;
    color: var(--temp-org);
    font-size: var(--temp-space-500);

}



.sd-btn-orange {
    background-color: var(--temp-org);
    color: #fff;
    padding: var(--temp-space-100) var(--temp-space-300);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.sd-btn-orange:hover {
    background-color: #d96400;
    /* darker orange on hover */
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.user-seva-btn-icon {
    font-size: var(--temp-space-400);


}

.sd-btn-blue {
    background: #2f3193;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    border: none !important;

}

.sd-btn-blue:hover {
    color: var(--temp-white);
    background: #1a1f6e;
    transform: translateY(-2px);
    border: none !important;
}

.pandit-btn-blue {
    background: var(--temp-org);
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    border: none !important;

}

.pandit-btn-blue:hover {
    color: var(--temp-white);
    background: var(--temp-org);
    transform: translateY(-2px);
    border: none !important;
}

.donation-btn-blue {
    background: #529c58;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    border: none !important;

}

.donation-btn-blue:hover {
    color: var(--temp-white);
    background: #529c58;
    transform: translateY(-2px);
    border: none !important;
}

.pooja-btn-blue {
    background: #3aaeba;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 600;
    cursor: pointer;
    border: none !important;

}

.pooja-btn-blue:hover {
    color: var(--temp-white);
    background: #3aaeba;
    transform: translateY(-2px);
    border: none !important;
}

.pnadit-w {
    width: 30px;
}

.slick-list {
    color: #777;
    font-size: var(--temp-space-300);
}


.mt-50 {
    margin-top: 50px;
}



/* .sd-news-para {

    padding-left: 8px;

} */
.news-icon-text {
    display: flex;

}

.sd-news-date {

    color: grey;

    font-size: 12px;
    margin-left: 12px;
    font-weight: 500;

}

.mt-20 {

    margin-top: 20px !important;

}

.mt-40 {

    margin-top: 40px;

}

/* up comming updated end */

/* upcoming booking css start */
.up-come-icon {
    font-size: var(--temp-space-800);
    background-color: #f9cba0;
    color: #a45d1d;
    border-radius: 50%;
    padding: 4px;
    margin-right: 8px;
}

.sd-side-heading-2 {
    font-size: var(--temp-space-400);
    padding: 10px 0 20px;
    color: #181818;
    border-bottom: 1px solid #cbcbcb;
}

.sd-side-heading {
    padding: 0 0 15px;
    border-bottom: 1px solid #cbcbcb;
}

.up-come-icon-sub {
    font-size: var(--temp-space-800);
    padding: 4px;
}

.sd-upcoming-bookings {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 8px 8px 8px 8px;
    display: inline-block;
    width: 100%;
}

.user-upcoming-bookings {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 16px 20px 16px 16px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.pandit-upcoming-bookings {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 16px 20px 16px 16px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.donation-upcoming-bookings {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 16px 20px 16px 16px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pooja-upcoming-bookings {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    padding: 16px 20px 16px 16px;
    display: inline-block;
    width: 100%;
    background-image: url("../images/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.seva-come-icon {
    font-size: var(--temp-space-800);
    background-color: #f9cba0;
    color: #a45d1d;
    border-radius: 50%;
    padding: 4px;
    margin-right: 8px;
}

.seva-come-icon-darshanam {
    font-size: var(--temp-space-800);
    background-color: var(--temp-white);
    color: #2f3193;
    ;
    border-radius: 50%;
    padding: 4px;
    margin-right: 8px;
}

.donation-come-icon-darshanam {
    font-size: var(--temp-space-800);
    background-color: var(--temp-white);
    color: #529c58;
    border-radius: 50%;
    padding: 4px;
    margin-right: 8px;
}

.pooja-come-icon-darshanam {
    font-size: var(--temp-space-800);
    background-color: var(--temp-white);
    color: #3aaeba;
    border-radius: 50%;
    padding: 4px;
    margin-right: 8px;
}

.seva-p {
    padding: var(--temp-space-200);
}

.sd-dashboard-icons {
    position: absolute;
    height: 40px !important;
    width: 40px;
}

.user-seva-text h3 {
    font-size: var(--temp-space-400);
    color: var(--temp-Black);
    text-align: left;
    font-weight: 500;
    margin-top: var(--temp-space-100);
    margin-bottom: var(--temp-space-300);
}

.user-seva-text p {
    font-size: var(--temp-space-250);
    color: #372e2e;
    text-align: left;
    font-weight: 400;
    margin-top: var(--temp-space-100);
    margin-bottom: var(--temp-space-200);
}

.sd-upcoming-bookings-table {
    padding-left: 25px;
    color: #8b8787;
}

.sd-upcoming-bookings table {
    width: 100%;
}

.mt-26 {
    margin-top: 26px;
}




.content-box h2 {
    font-size: var(--temp-space-400) !important;
    color: var(--temp-Black);
    text-align: left;
    font-weight: 500;
    margin-top: var(--temp-space-100);
    margin-bottom: var(--temp-space-500);
}

/* --- IGNORE --- */







.rwd-table {
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

.rwd-table tr:first-child {
    border-top: none;
    background: #a30909;
    color: #fff;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #dfd6d6;
}

.rwd-table tr {
    border-top: 1px solid var(--temp-drak-blue);
    border-bottom: 1px solid var(--temp-drak-blue);
    background-color: #fff4f4;


}



.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    margin-top: .5em;
}

.rwd-table td:last-child {
    margin-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";

    width: 120px;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
    padding: .5em 1em;
}

.avatar {
    position: relative;
    height: 2.625rem;
    width: 2.625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    color: #fff;
    font-weight: 500;
}

.avatar.avatar-md {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.8rem;
}

.avatar-md {

    line-height: 2.5rem;
    font-size: 24px;

    height: 40px;
    width: 40px;
}

.avatar-rounded {
    border-radius: 50%;

}

.save-bg {
    background-color: #FFB8E0 !important;
}

.Darshan-bg {
    background-color: #D9DFC6 !important;
}

.pandit-bg {
    background-color: #cae1e7 !important;
}

.Donations-bg {
    background-color: #e9d6cd !important;
}

.fs-5 {
    font-size: 1.25rem !important;
}

.card-body {

    padding: 12px 12px !important;

}

@media (min-width: 1200px) {
    .sd-side-heading-2 {
        padding: 10px 0 10px;
    }
}

@media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
        background-color: #e6effb;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
        font-size: var(--temp-space-300);
        font-weight: 400 !important;
    }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */




@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0)
    }

    25% {
        -webkit-transform: translateX(-10px)
    }

    75% {
        -webkit-transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-10px)
    }

    75% {
        transform: translateX(10px)
    }

    100% {
        transform: translateX(0)
    }
}

/*
    Don't look at this last part. It's unnecessary. I was just playing with pixel gradients... Don't judge.
*/
/*
@media screen and (max-width: 601px) {
  .rwd-table tr {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
    background-image: linear-gradient(left, #428bca 137px, #f5f9fc 1px, #f5f9fc 100%);
  }
  .rwd-table tr:nth-child(odd) {
    background-image: -webkit-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -moz-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -o-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: -ms-linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
    background-image: linear-gradient(left, #428bca 137px, #ebf3f9 1px, #ebf3f9 100%);
  }
}*/