.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--temp-white);
}




.fw500 {
  font-weight: 500;
  font-size: 24px;
}

.fw700h1 {
  font-weight: 700;
  color: #c00;
}

.profile-form .form-label {
  font-weight: 500;
}

.profile-form .form-control,
.profile-form .form-select {
  border-radius: var(--temp-space-100);
  padding: var(--temp-space-200) var(--temp-space-300);
  border: 1px solid rgb(196, 188, 188);
}

.profile-form .btn-save {
  background-color: var(--temp-org);
  color: var(--temp-white);
  border: none;
  padding: var(--temp-space-200) var(--temp-space-500);
  border-radius: 5px;
}

.btn-save {
  background-color: var(--temp-org);
  border: var(--temp-org) var(--temp-space-25) solid !important;
  font-size: var(--temp-space-300);
}

.profile-photo-wrapper {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.profile-photo-wrapper:hover {
  transform: scale(1.05);
}

.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.edit-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile-photo-wrapper:hover .edit-overlay {
  opacity: 1;
}

.edit-icon {
  font-size: 22px;
}