.temp-stepform-box-support {
    background-color: var(--temp-light-gray);
    border-radius: var(--temp-space-200);
    border: 1px solid #00000012 !important;
    margin-bottom: var(--temp-space-400);
    /* margin-left: 0px; */
    /* margin-right: 0px; */
}
@media only screen and (max-width: 568px)
{
   .temp-stepform-box-support {
    
    margin-bottom: 0px;
    /* margin-left: 0px; */
    /* margin-right: 0px; */
} 
}