.temp-footer-title {
    display: flex;
    justify-content: end;
}

.footer-span {
    color: var(--temp-org);
}

.footer-icon {
    color: var(--temp-gray-dark-blue);
    font-size: var(--temp-space-700);
}

p {
    font-size: var(--temp-space-300);
}