.carousel-container {
    min-width: 350px;
    min-height: 350px;
    position: relative;

}

.temp-detail-btn {
    display: flex;
    justify-content: space-between;
}

.temp-login-btn {
    background-color: var(--temp-org);
    width: 200px;
    border-radius: var(--temp-space-300);
    font-size: var(--temp-space-300);
    border: 1px solid var(--temp-org);
}

.temp-regis-btn {
    background-color: var(--temp-primary);
    width: 200px;
    border-radius: var(--temp-space-300);
    font-size: var(--temp-space-300);
    border: 1px solid var(--temp-primary)
}

.password-wrapper {
    position: relative;
}

.password-wrapper .form-control {
    padding-right: 40px;
    /* space for eye */
}

.p-l-0 {
    padding-left: 0 !important;
}


.toggle-eye {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: var(--temp-space-350);
    color: #666;
    user-select: none;
}

.text-danger {
    color: var(--temp-org) !important;
    font-size: var(--temp-space-300);
}

.t .toggle-eye:hover {
    color: #000;
}

.card-item-info {
    padding: var(--temp-space-250);
    text-align: center;
    text-align: center !important;
    transition: transform 0.3s ease-in-out;
}

.card-item-info:hover {
    transform: translateY(-5px);
}

.card-image-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50% !important;
    /* border-radius: 12px 12px 0 0; */
    margin: auto;
    border: var(--temp-space-200) solid var(--temp-boader-gary);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.card-image-wrapper-temple-page {
    width: 152px;
    height: 152px;
    overflow: hidden;
    border-radius: 50% !important;
    /* border-radius: 12px 12px 0 0; */
    margin: auto;
    border: var(--temp-space-200) solid var(--temp-boader-gary);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);

}

.card-text h5 {
    color: var(--temp-org);
    margin-bottom: var(--temp-space-0);
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-text {
    padding: 15px;
}

.card-text h4 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
}

.about-wrapper .card-text p {
    text-align: center !important;
}

.card-text p {
    font-size: var(--temp-space-300);
    color: var(--temp-black);
}

.temp-accordin-btn .accordion-button::after {
    background-image: url("../images//arrow_icon_2.svg") !important;
    font-size: var(--temp-space-300);
}

.temp-container h2 {
    font-size: var(--temp-space-450);
    color: var(--temp-org);
    margin-bottom: var(--temp-space-350);
    border-bottom: 1px var(--temp-boader-gary) solid;
    padding-bottom: 6px;
}

.Alltemple-wrapper {
    padding-top: var(--temp-space-600);
    background-color: #e1e1e1;
}

.Alltemple-wrapper h2 {
    text-align: center !important;
}

.Alltemple-wrapper h3 {
    text-align: center !important;
    font-size: var(--temp-space-600);
    color: var(--temp-org);
}



.Allpandit-wrapper {
    padding-top: var(--temp-space-600);

    background-color: #fbf7f1;
}

.Allpandit-wrapper h2 {
    text-align: center !important;
}

.Allpandit-wrapper h3 {
    text-align: center !important;
    font-size: var(--temp-space-600);
    color: var(--temp-org);
}

.slick-prev:before,
.slick-next:before {
    color: var(--temp-primary);
    font-size: var(--temp-space-900);
}

.desktop-mobile {
    display: none;
}


.slick-slide>div {
    width: 100%;
    display: flex !important;
}





@media (max-width: 768px) {
    .desktop-mobile {
        display: inline-block;
    }

    .card-item-info {
        padding: 0px !important;
    }

    .rhs-gob-mob {
        display: none;
    }
}