/* svg {
    fill: #0d77cb;
  } */

:root {

    --temp-font-family: 'Poppins';
}

body {
    background-color: #E9ECEF !important;
    font-family: var(--temp-font-family);
}

:root {
    --temp-breakpoint-xs: 0;
    --temp-breakpoint-sm: 576px;
    --temp-breakpoint-md: 768px;
    --temp-breakpoint-lg: 992px;
    --temp-breakpoint-xl: 1200px;
    --temp-breakpoint-xxl: 1400px;
}

:root {
    --temp-primary: #07152D;
    --temp-white: #ffffff;
    --temp-org: #F74F22;
    --temp-org-hover: #b52c06;
    --temp-black: #000000;
    --temp-gary-light: #908d8d;
    --temp-off-gary: #E9E9E9;
    --temp-boader-gary: #EDEDED;
    --temp-sec-gray: #F8F9FA;
    --temp-drak-blue: #022147;
    --temp-search-border: #CBCBCB;
    --temp-search-bg: #EEEEEE;
    --temp-black: #000000;
    --temp-light-white: #4D5959;
    --temp-light-green: #0C7125;
    --temp-light-gray: #B8B8B840;
    --temp-red: #ED3338;
    --temp-gray: #7B7A7A;
    --temp-gray-light: #EFF0F2;
    --temp-gray-light-black: #4D5959;
    --temp-gray-dark-blue: #032F64;
    --temp-gray-dark-gray: #59595A;



    /* custom padding atemp margin*/
    --temp-space-0: 0px;
    --temp-space-25: 1px;
    --temp-space-50: 2px;
    --temp-space-100: 4px;
    --temp-space-175: 5px;
    --temp-space-150: 6px;
    --temp-space-200: 8px;
    --temp-space-250: 10px;
    --temp-space-300: 12px;
    --temp-space-350: 14px;
    --temp-space-400: 16px;
    --temp-space-450: 18px;
    --temp-space-500: 20px;
    --temp-space-550: 22px;
    --temp-space-600: 24px;
    --temp-space-700: 28px;
    --temp-space-750: 30px;
    --temp-space-800: 32px;
    --temp-space-900: 36px;
    --temp-space-1000: 40px;
    --temp-space-1100: 44px;
    --temp-space-1200: 48px;
    --temp-space-1250: 50px;
    --temp-space-1300: 60px;
    --temp-space-1400: 70px;
}

.temp-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--temp-space-400);
    background-color: var(--temp-white);
    padding: var(--temp-space-400);
    margin-top: var(--temp-space-400);
}



.temp-container h1 {
    font-size: var(--temp-space-600);
    color: var(--temp-org);
    text-align: left;
    font-weight: 500;
}

.temp-container h2 {
    font-size: var(--temp-space-450);
    color: var(--temp-org);
    margin-bottom: var(--temp-space-350);

    border-bottom: 1px var(--temp-boader-gary) solid;
    padding-bottom: 6px;
}

.temp-container p {
    font-size: var(--temp-space-300);
    color: var(--temp-blacky);
    line-height: 1.6;
}

.temp-container ul li {
    font-size: var(--temp-space-300);
    color: var(--temp-blacky);
    line-height: 1.6;
}

.tem-rhs ul li {
    font-size: var(--temp-space-350);
    color: var(--temp-blacky);
    line-height: 1.6;
    font-weight: 500;
}

.tem-rhs {
    background-color: var(--temp-gray-light);
    padding: var(--temp-space-400);
    border-radius: var(--temp-space-200);

}

.tem-rhs h3 {
    font-size: var(--temp-space-450);
    color: var(--temp-org);
}

.temp-container h4 {
    font-size: var(--temp-space-350);
    color: var(--temp-org);
    font-weight: 600;
    padding-bottom: 0px !important;
    margin-bottom: 0px;

}

.otp-model h1 {
    font-size: var(--temp-space-600);
    color: var(--temp-org);
    font-weight: 600;
    padding-bottom: var(--temp-space-200) !important;
    margin-bottom: var(--temp-space-200);

}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.modal-footer {
    justify-content: center !important;
}

.modal-header {
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

.modal-body {
    padding-top: 0px !important;
}

.model-btn {
    background-color: var(--temp-org) !important;
    color: var(--temp-white) !important;
    padding: var(--temp-space-100) var(--temp-space-300);
    font-size: var(--temp-space-300);
    border-radius: var(--temp-space-100);
    transition: background-color 0.3s ease;



}

.temp-page-heading {
    display: flex;
    justify-content: space-between;
}

.alert-txt {
    font-size: 10px;
    color: var(--temp-red);
}

.otperror{
    color: var(--temp-red);
    font-size: var(--temp-space-350);
    text-align: center;
}

p.otperror
{
     color: var(--temp-red);
    font-size: var(--temp-space-350);
    text-align: center;
}
p.otpsuccess{
    color: var(--temp-light-green);
    font-size: var(--temp-space-350);
    text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menubar {
        background-color: var(--temp-primary) !important;
    }
}


@media (max-width: 844px) {

    .social-icon {
        display: none !important;
    }

    .menubar {
        background-color: var(--temp-primary);
    }

}

@media only screen and (max-width: 568px) {

    .social-icon {
        display: none !important;
    }

    .header-top {
        padding-bottom: var(--temp-space-800) !important;
    }

    .info-mob {
        margin-bottom: var(--temp-space-200) !important;
    }

    .menubar {
        background-color: var(--temp-primary);
    }
}