body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

}


/* svg {
    fill: #0d77cb;
  } */
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

:root {
  --nd-white: #ffffff;
  --nd-black: #000000;
  --nd-Primary: #ED3338;
  --nd-red-dark: #ac0a0f;
  --nd-seconadry: #a0a0a0;
  --nd-seconadry-hover: #807d7d;
  --nd-primary-hover: #cd1d22;
  --nd-blue-hover: #1d529e;
  --nd-primary-off-white: #EFF0F2;

  --nd-blue: #2990ED;
  --nd-border: #B9C9D3;
  --nd-off-black: #154351;
  --nd-blue-light-bg: #E0EEFB;
  --nd-blue-dark-bg: #023B6D;
  --nd-orange: #ff6b0a;
  --nd-orange-border: #f9b115;
  --nd-green-border: #59822c;
  --nd-gray: #444a50;
  --nd-blue-dark: #152036;
  --nd-bg-green: #278557;
  --nd-bg-green-hover: #41956c;
  --nd-bg-dark-green: #166a41;
  --nd-bg-light-green: #41956c;
  --nd-bg-light-hover: #166a41;


  /* custom padding and margin*/
  --nd-space-0: 0px;
  --nd-space-25: 1px;
  --nd-space-50: 2px;
  --nd-space-100: 4px;
  --nd-space-175: 5px;
  --nd-space-150: 6px;
  --nd-space-200: 8px;
  --nd-space-250: 10px;
  --nd-space-300: 12px;
  --nd-space-350: 14px;
  --nd-space-400: 16px;
  --nd-space-450: 18px;
  --nd-space-500: 20px;
  --nd-space-550: 22px;
  --nd-space-600: 24px;
  --nd-space-700: 28px;
  --nd-space-800: 32px;
  --nd-space-900: 36px;
  --nd-space-1000: 40px;
  --nd-space-1100: 44px;
  --nd-space-1200: 48px;
}











/* ----------------Drag & drop files Start ---------------------------  */

 .container-box-p{
    padding: 0px !important;
}
@media (max-width: 575.98px) {
  .container-box-p{
    padding: 0px !important;
}
}